/* CSS Variables */
/* Backgrounds */
:root {
  /* Theme 1 */

  /* Main Background */
  --desaturated-blue: hsl(222, 26%, 31%);
  /* Toggle Background, keypad background */
  --dark-desaturated-blue: hsl(223, 31%, 20%);
  /* Screen Background */
  --very-dark-desaturated-blue: hsl(224, 36%, 15%);

  /* Keys */
  /* Key Background */
  --desaturated-blue-key: hsl(225, 21%, 49%);
  /* Key Shadow */
  --desaturated-dark-blue: hsl(224, 28%, 35%);
  /* key background, toggle */
  --red: hsl(6, 63%, 50%);
  /* key shadow */
  --dark-red: hsl(6, 70%, 34%);
  /* key background */
  --light-grayish-orange: hsl(30, 25%, 89%);
  /* key shadow */
  --grayish-orange: hsl(28, 16%, 65%);

  /* Text */
  --very-dark-grayish-blue: hsl(221, 14%, 31%);
  --white-color: hsl(0, 0%, 100%);

  /* Theme 2 */

  /* Backgrounds */
  /* main background */
  --light-gray: hsl(0, 0%, 90%);
  /* toggle background, keypad background */
  --grayish-red: hsl(0, 5%, 81%);
  /* screen background */
  --very-light-gray: hsl(0, 0%, 93%);

  /* Keys */
  /* key background */
  --dark-moderate-cyan: hsl(185, 42%, 37%);
  /* key shadow */
  --very-dark-cyan: hsl(185, 58%, 25%);
  /* key background, toggle */
  --orange: hsl(25, 98%, 40%);
  /* key shadow */
  --dark-orange: hsl(25, 99%, 27%);
  /* key background */
  --light-grayish-yellow: hsl(45, 7%, 89%);
  /* key shadow */
  --dark-grayish-orange: hsl(35, 11%, 61%);
  /* Text */
  --very-dark-grayish-yellow: hsl(60, 10%, 19%);
  --white: hsl(0, 0, 100%);

  /* Theme 3 */

  /* Backgrounds */
  /* main background */
  --very-dark-violet: hsl(268, 75%, 9%);
  /* toggle background, keypad background, screen background */
  --dark-violet-background: hsl(268, 74%, 12%);

  /* Keys */
  /* key background */
  --dark-violet: hsl(281, 89%, 26%);
  /* key shadow */
  --vivid-magenta: hsl(285, 91%, 52%);
  /* key background, toggle */
  --pure-cyan: hsl(176, 100%, 44%);
  /* key shadow */
  --sky-blue: hsl(182, 77%, 73%);
  /* key background */
  --very-dark-violet-buttons: hsl(268, 48%, 20%);
  /* key shadow */
  --dark-magenta: hsl(290, 70%, 36%);
  /* Text */
  --light-yellow: hsl(52, 100%, 62%);
  --very-dark-blue: hsl(198, 20%, 13%);
  --white: hsl(0, 0, 100%);
}
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Spartan, sans-serif;
  font-size: 32px;
}
body {
  background-color: var(--desaturated-blue);
  height: 100vh;
  min-width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.5s;
}
button {
  border: unset;
}
button:hover {
  cursor: pointer;
}
div {
  border-radius: 10px;
  margin: 10px;
}
/* Calculator wrapper */
.calc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  min-width: 350px;
  width: 100vw;
  height: 100%;
}
/* Logo */
.logo {
  font-size: 28px;
  display: flex;
  align-items: center;
}
/* Theme Switcher */
.theme-switcher {
  display: flex;
  justify-content: space-between;
  width: 326px;
  height: 20%;
}
.theme-switcher-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
.theme-switcher-icon div {
  margin: unset;
}
.theme-text {
  font-size: 12px;
  text-transform: uppercase;
}
.switcher {
  width: 65px;
  position: relative;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  grid-template-areas:
    "theme1 theme2 theme3"
    "range1 range2 range3";
}
.theme {
  font-size: 12px;
  justify-self: center;
  align-self: center;
}
.theme.first {
  grid-area: theme1;
}
.theme.second {
  grid-area: theme2;
}
.theme.third {
  grid-area: theme3;
}
/* Slider */
.range {
  height: 20px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.range:hover {
  cursor: pointer;
}
.range.range-one {
  grid-area: range1;
}
.range.range-two {
  grid-area: range2;
}
.range.range-three {
  grid-area: range3;
}
/* Sliders circles */
.circle {
  width: 80%;
  height: 80%;
}
/* Sliders background */
.slide {
  z-index: -1;
  background-color: var(--dark-desaturated-blue);
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
}
.slide:hover {
  cursor: pointer;
}
/* Display */
.display {
  width: 90%;
  height: 20%;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}
/* Buttons */
.buttons {
  background-color: var(--dark-desaturated-blue);
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-template-areas:
    "seven eight nine delete"
    "four five six plus"
    "one two three minus"
    "dot zero divide multiply"
    "reset reset equal equal";
  width: 90%;
  height: 70%;
  padding: 15px;
}
/* All math buttons */
.button {
  background-color: var(--white-color);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: var(--very-dark-grayish-blue);
  box-shadow: 0px 4px 0px var(--grayish-orange);
  border-radius: 5px;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.equal {
  grid-area: equal;
  background-color: var(--red);
  color: var(--white-color);
  box-shadow: 0px 4px 0px var(--dark-red);

  font-size: 0.5em;
}
.reset {
  grid-area: reset;
  background-color: var(--desaturated-blue-key);
  color: var(--white-color);
  box-shadow: 0px 4px 0px var(--desaturated-dark-blue);
  font-size: 0.5em;
}
.delete {
  grid-area: delete;
  background-color: var(--desaturated-blue-key);
  color: var(--white-color);
  box-shadow: 0px 4px 0px var(--desaturated-dark-blue);

  font-size: 0.5em;
}
.plus {
  grid-area: plus;
}
.multiply {
  grid-area: multiply;
}
.divide {
  grid-area: divide;
}
.minus {
  grid-area: minus;
}

/* Themes */

/* Orange Circle Active state */
.orange-circle--active {
  background-color: var(--red);
  border-radius: 50%;
  transition: ease-in-out 0.5s;
}
/* Blue Circle Active state */
.blue-circle--active {
  background-color: var(--pure-cyan);
  border-radius: 50%;
  transition: ease-in-out 0.5s;
}

/* Theme 1 */
.white-color {
  color: var(--white-color);
}

/* Theme 2 */
/* Body */
.main-background-theme2 {
  background-color: var(--light-gray);
}
/* Switcher and Keypad background */
.toggle-background-theme2,
.keypad-background-theme2 {
  background-color: var(--grayish-red);
}
/* Display */
.screen-background-theme2 {
  background-color: var(--very-light-gray);
}
/* Reset and Delete buttons */
.reset-theme2,
.delete-theme2 {
  background-color: var(--dark-moderate-cyan);
  box-shadow: 0px 4px 0px var(--very-dark-cyan);
}
/* Equal button */
.equal-theme2 {
  background-color: var(--orange);
  box-shadow: 0px 4px 0px var(--dark-orange);
}
/* Others buttons */
.keys-theme2 {
  background-color: var(--light-grayish-yellow);
  box-shadow: 0px 4px 0px var(--dark-grayish-orange);
}
.keys-text-theme2 {
  color: var(--very-dark-grayish-yellow);
}
.keys-white-color {
  color: var(--white-color);
}

/* Theme 3 */
/* Body */
.main-background-theme3 {
  background-color: var(--dark-violet-background);
}
/* Switcher and Keypad background */
.toggle-background-theme3,
.keypad-background-theme3,
.screen-background-theme3 {
  background-color: var(--very-dark-violet);
}
/* Reset and Delete buttons */
.reset-theme3,
.delete-theme3 {
  background-color: var(--dark-violet);
  box-shadow: 0px 4px 0px var(--vivid-magenta);
}
/* Equal button */
.equal-theme3 {
  background-color: var(--pure-cyan);
  color: var(--very-dark-blue);
  box-shadow: 0px 4px 0px var(--sky-blue);
}
/* Others buttons */
.keys-theme3 {
  background-color: var(--very-dark-violet-buttons);
  box-shadow: 0px 4px 0px var(--dark-magenta);
}
.keys-text-theme3 {
  color: var(--light-yellow);
}
